.features {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 2em;
}

.green {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  padding: 1em;
}

.all-features {
  display: flex;
  justify-content: center;
}

.feature-btn {
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 1em;
  width: 6.25rem;
  border-color: var(--primary-color);
  background-color: var(--secondary-color);
}

.feature-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

@media (max-width: 900px) {
  .all-features{
    flex-direction: column;
  }

  .feature{
    width: 100%;
  }

}