.features {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 2em;
}

.green {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  padding: 1em;
}

.all-features {
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items: center;
  align-content: center; */
  justify-content: center;
}

.feature-btn {
  /* border: solid 3px; */
  font-size: 1rem;
  border-radius: 5px;
  padding: 1em;
  border-color: var(--primary-color);
  /* color: var(--primary-color); */
  background-color: var(--secondary-color);
}

.feature-btn:hover {
  background-color: var(--primary-color);
  color: white;
}
