.cart {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  justify-content: space-around;
  align-content: space-between;
  padding: 3.125rem;
  margin-top: 4.375rem;
}

.copy {
  background-color: black;
  padding: 1.875rem;
  text-align: center;
}

.cart-btn {
  width: 10.75rem;
}

@media (min-width: 2000px){
  .cart{
    font-size: x-large;
  }

  .cart-btn {
    width: 30.75rem;
}
}
