.subscribe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  justify-content: right;
  align-content: space-between;
  padding: 3.125rem;
  margin-top: 4.375rem;
}

.copy {
  background-color: black;
  padding: 1.875rem;
  text-align: center;
}

.cart-btn {
  width: 10.75rem;
}

input{
  padding: 1rem;
  width: 100%;
  margin-right: 3rem;

}

form{
  display: flex;
  flex-basis: 50%;
}

@media (min-width: 2000px){
  .cart{
    font-size: x-large;
  }

  .cart-btn {
    width: 30.75rem;
}
}
@media (max-width: 460px){
 .flex{
   flex-direction: column;
 }

 input{
   margin-bottom: 1rem;
 }
}