@import './reset.css';
@import './header.css';
@import './featrures.css';
@import './offers.css';
@import './products.css';
@import './footer.css';

:root {
  --primary-color: #b2dd4c;
  --secondary-color: #f5f5f5;
}

p {
  line-height: 1.7;
}

body {
  color: rgb(80, 80, 80);
}

.container {
  overflow-x: hidden;
}
