.phone-img {
  /* background-image: url('https://ibb.co/0X8THBD');
  background-size: cover; */
  margin-top: 9.375rem;
}

.offer {
  width: 50%;
  padding: 60px;
}

.offers {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  align-content: space-between;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}

.appstore-img {
  margin-right: 1rem;
}
