.phone-img {
  margin-top: 9.375rem;
}

.offer {
  width: 50%;
  padding: 60px;
}

.offers {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  align-content: space-between;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}

.appstore-img {
  margin-right: 1rem;
}

@media (max-width:880px) {
  .phone-img{
    display:none;
  }
    .offer {
    width: 100%;
    padding: 60px;
    margin: 175px auto;}
  
}
@media (min-width:2000px){
  .offer{
    font-size: x-large;
    margin-right: 400px;
  }

  .offer img{
    margin-top: 40px;
    width: 200px;
    height: 70px;
  }
}